#contenedor{
    width:300px;
}
#display{
    border:solid 1px grey;
    width:298px;
    height:40px;
}
#panel{
    width:300px;
}
.a{
    width:75px;
    height:40px;
}
.b{
    width:150px;
    height:40px;
}