@import url('https://fonts.googleapis.com/css?family=Arvo');
*{
    font-family:Arvo;
    font-weight:bold;
}
#contenedor{
    width:232px;
    border:solid 1px grey;
    border-radius:10px 10px;
    background:navy;
    box-shadow: 1px 1px 5px grey;
}
#display{
    border:solid 1px grey;
    width:204px;
    height:40px;
    text-align:right;
    margin:10px;
    border-radius:10px 10px;
    background:linear-gradient(to top left, lightgrey, lime);;
    padding-right:5px;
    padding-top:5px;
}
#panel{
    width:212px;
    margin:10px;
}

.a, .b{
    border:solid 1px grey;
    border-radius:10px 10px;
    margin 0px;
}
.a{
    width:50px;
    height:40px;
}
.b{
    width:104px;
    height:40px;
}
button:hover{
    background: linear-gradient(to top left, white, lime);
    cursor: pointer;
}